include .version
include CHANGELOG.md
include LICENSE
include MANIFEST.in
include README.md
include pyproject.toml
recursive-include ssh_wrapper *.py py.typed
prune .github
prune doc
prune docs
prune tests
prune tests_acceptance
prune tmp
prune tools
global-exclude .DS_Store
global-exclude *.py[cod]
global-exclude __pycache__
